<!-- Title and Meta -->

<title>{% if page.title and page.title != 'Halaman Utama' %}{{ page.title }} - {% endif %}{{ site.title }}</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />
<meta name="description" content="{{ page.description }}" />
<meta name="author" content="{{ site.author }}" />

<meta property="og:type" content="website" />
<meta property="og:url" content="{{ page.url | absolute_url }}">
<meta property="og:title" content="{% if page.title and page.title != 'Halaman Utama' %}{{ page.title }} - {% endif %}{{ site.title }}" />
<meta property="og:description" content="{{ page.description }}">
<meta property="og:site_name" content="{{ site.title }}" />
<meta property="og:locale" content="en_US" />

<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="{{ site.twitter }}" />
<meta name="twitter:creator" content="{{ site.twitter }}" />
<meta name="twitter:url" content="{{ page.url | absolute_url }}" />
<meta name="twitter:title" content="{% if page.title and page.title != 'Halaman Utama' %}{{ page.title }} - {% endif %}{{ site.title }}" />
<meta name="twitter:description" content="{{ page.description }}" />

<!-- Require Script and Loading Page -->

<link rel="stylesheet" href="{{ '/css/style.css' | relative_url }}" />

<script src="{{ '/assets/js/base.js' | relative_url }}"></script>
