<header>
	<nav>
		<a class="nav-link" href='{{ "/" | relative_url }}'>
			Website
		</a>
		<a class="nav-link" href="https://github.com/kausarme/os222/">
			Repository
		</a>
		<a class="nav-link" href='{{ "/TXT/mylog.txt" | relative_url }}'>
			Log
		</a>
		<a class="nav-link" href='{{ "/LINKS" | relative_url }}''>
			Links
		</a>
		<a class="nav-link" href='{{ "/TXT/myrank.txt" | relative_url }}''>
                        Ranks
                </a>

	</nav>
	<h1>Kausar Meutuwah @ Sistem Operasi</h1>
</header>
